:root{
  --primary-color: #010bcc;
  --secondary-color: #04fff9;
}

body{
  font-family: "Poppins", sans-serif;
}

.logo-header{
  width: 10rem;
}

.bg-primary{
  background-color: var(--primary-color);
  transition: background-color .25s;
}

.bg-primary:hover{
  background-color: #00078d;
}

.btn-white{
  background-color: #fff;
  color: var(--primary-color);
  font-weight: 700;
  transition: background-color .25s;
  border: 3px solid #fff;
}

.btn-white:hover{
  background-color: transparent;
  color: #fff;
}

.btn-outline{
  border: 3px solid #fff;
  color: #fff;
  transition: all .3s;
}

.btn-outline:hover .icon-right{
 margin-left: .5rem;
}

.bg-hero{
  background-color: var(--primary-color);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.carrousel-clients{
  width: 100%;
  max-width: 1200px;
  margin: 2rem auto 0;
  display: flex;
  gap: 64px;
  text-align: center;
  justify-content: center;
}

.carrousel-title{
  text-align: center;
  padding: .8rem 0 0 0;
  color: #fff;
}

.carrousel-title span{
  font-weight: 800;
}

.carrousel-clients img{
  height: 2.25rem;
}

.swiper-pagination-bullet-active {
  background: var(--secondary-color);
}